@import url('../styles/styles_base.css');

.container-institutions{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.institution-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-title{
    font-size: 20px;
}

.header-button{
    margin-right: 3rem;
    background-color: var(--clr-main);
    padding: .3rem .5rem;
    border-radius: 1rem;
    color: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header-button i{
    margin-right: 5px;
    font-size: 15px;
    padding-top: 5px;
}

.header-button:hover{
    background-color: var(--clr-main-dark);
}
