@import url('../styles/styles_base.css');

.container-product-list{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.product-list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-title{
    font-size: 20px;
}
