@import url('../../styles/styles_base.css');


.card-item{
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

.item-buttons i{
    background-color: var(--clr-gray);
    padding: 0.7rem;
    margin-left: 1rem;
    border-radius: 100%;
    color: var(--clr-main);
    font-size: 20px;
}

.item-buttons i:hover{
    color: var(--clr-white);
    background-color: var(--clr-main);
    cursor: pointer;
}