@import url('../../../styles/styles_base.css');


.dropdown-container{
    list-style: none;
    position: relative;
    width: 10rem;
    text-align: center;
    cursor: pointer;
}

.title-dropdown-container{
    background-color: var(--clr-main);
    padding: .3rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-dark); 
}

.title-dropdown-container > i{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;

}

.title-dropdown{
    color: var(--clr-dark);
}

.submenu-dropdown{
    text-align: center;
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    word-break:break-all;
    background-color: var(--clr-white);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding-right: .25rem;
    padding-left: .25rem;
    max-height: 13.1em;
    overflow-y: scroll;
}

.submenu-dropdown::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
}

.submenu-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--clr-main-dark);
    border-radius: 3px; 
}

.submenu-item{
    color: var(--clr-background);
    padding: .5rem;
    border-bottom: 1px solid var(--clr-gray);
}

.submenu-item:hover{
    color: var(--clr-main);
    font-weight: 600;
}

.ocult{
    display: none;
}