@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --clr-main: #04a7e0;
    --clr-main-light: #9be3fd;
    --clr-main-dark: #0282b1;
    --clr-violet: #8e45a3;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-gray: #e2e2e2;
    --clr-gray-light: #f3f3f3;
    --clr-red: #961818;
    --clr-background: #19222a;
    --clr-submenu: #1f2d3a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}