@import url('../../../styles/styles_base.css');

.container-search {
    position: relative;
    width: 12rem;
    align-items: center;
}

.input-search{
    height: 2.2rem;
    width: 100%;
    border: 0;
    font-size: 1rem;
    padding: 0 1.6rem;
    border-radius: .7rem;
}

.input-search:focus{
    border: 1px solid var(--clr-main);
    outline: none;
    box-shadow: 0 0 5px var(--clr-main);
}